

.masthead{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    width: auto;    
    padding: 10px; 
}

.page__footer-follow{

    margin: 0 auto;
    display: flex;
    justify-content: center;
    width: auto;    
    padding: 10px;
}

.page__footer-copyright{

    margin: 0 auto;
    display: flex;
    justify-content: center;
    width: auto;
    padding: 10px;
}